:root{
    /* --test-color:violet;   tự đặt*/
    --test-color:red;
    font-size: 30px;
}
h1{
    --my-color:blue;
    color:var(--my-color);
        
}
h2{
    color:var(--test-color);
}
h3{
    color:var(--test-color);
}